@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-deco {
    width: 160px !important;
    height: 160px !important;
}
.bg-deco-sm {
    width: 128px !important;
    height: 128px !important;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}
